<h1> Commercial Real Estate Made Easy </h1> 

  <p>
    Explore our wide variety of listings to find the perfect place to make your business a reality! 
  </p>

   <ul>
    <li>
      <a href="/listings">Listings</a>
    </li>
     
    <li>
      <a href="/categories">Categories</a>
    </li>

  </ul>
